<!-- Loop over each object in the blog posts array -->
{{#each blogPosts as |blogPost| }}
<div class="row mb-4 blog-post">
    <a href="/blog-post-detail/{{blogPost.id}}">
      <div class="col-md-12">
        <div class="blog-post-top-area">
            <div>
                {{blogPost.name}}
            </div>
            <div>
                Created by {{blogPost.user.name}} on {{format_date blogPost.date_created}}
            </div>
        </div>
        <div class="blog-post-bottom-area">{{blogPost.description}}</div>
      </div>
    </a>
</div>
{{/each}}
